.vscode
*.bat

# Ignore supabase
.temp
seed.sql

# Ignore docs
docs/index.html
docs/js
docs/css

# Ignore updater
updater/node_modules
updater/package-lock.json
updater/.env

# Supabase
supabase/.branches
supabase/.temp
supabase/.env
