body{
    margin: 0;
    padding: 0;
}
    
body .sc-1ypz5kk-0{
    padding: 40% 0;
}

.sc-6itmo6-0 {
    padding-top: 10px;
    padding-bottom: 0;
}

.shv3r-0 {
    margin-bottom: 0;
}

.shv3r-1 {
    margin: 10px 0;
    margin-top: 20px;
}

.zr04gj-0 {
    margin-top: 40px;
}

.sc-10atcbm-4 {
    text-transform: capitalize;
}